*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    color: black;
}



body{
    background-color: #282a35;
    width: 100%;
}




.main-container{
    margin: 5rem auto;
    background-color: #fae4ba;
    width: 300px;
    height: auto;
    border-radius: 2rem;
    box-shadow: 10px 10px 10px rgba(44, 44, 44,.2);

    border: 5px solid white;
}

.logo{
    display: flex;
    justify-content: center;
}

.logo__img{
    width: 6.5rem;
    border-radius: 50%;
    margin: 1rem;
    margin-top: -3rem;
    transition: ease-in 2s;

}

.logo__img:hover{
    transition: ease-in 2s;
  transform: rotate(360deg);
}

.rotateL{
transition: ease-in 2s;
  transform: rotate(180deg);
}

.rotateR{
transition: ease-in 2s;
  transform: rotate(-180deg);
}

.page{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 1rem;

}

.input-element{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.input-element label{
    margin: 10px 0px;
    font-size: 1rem;
    font-weight: bold;
}

.input-element input{
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 1rem;
    border: none;
    width: 90%;
    text-align: center;
        outline: none;

}

.input-element input:focus{
    border: none;
}

.input-element__actions{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem .5rem;
}

.input-element__actions i{
    font-size: 10px;
    color: white;
}

.btn{
    height: 3rem;
    border: none;
    width: 90%;
    font-size: 1.4rem;
    cursor: pointer;
    border-radius: 1.5rem;
    margin: 1rem;
    color: white;
}

.btn-calculate{
   background-color: #e69729;
   margin-top: 0;

}
.btn-calculate:hover{
   background-color: #faad39;

}


.btn-reset{
    background-color: grey;

}
.btn-reset:hover{
    background-color: rgb(51, 51, 51);

}

.btn-quantity{
    display: flex;
    justify-content: center;
    align-items: center;
   background-color: black;
   margin: 0;
   width: 45%;
   height: 2rem;
    border-radius: .5rem;


}
.btn-quantity:hover{
       background-color: orange;
       color: black;
}


.servings-logo{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: -50px;
    margin-right:50px;
    margin-bottom: 1rem;
    transition: ease-in .5s;

}
.servings-logo:hover .servings-count{
    transition: ease-in .5s;
  transform: scale(1.15)}

.servings-logo img{
    width: 3rem;
}

.servings-count{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 2rem;
    background-color: white;
    border-radius: 50%;
    color: indianred;
    font-weight: bold;
    margin-left: -40px;
    margin-top: 32px;
}

.output-quantity{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-element{
    width: 80%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
    margin-bottom: .5rem;
}

.list-element:hover .list-element__img img{
    transition: ease-in .5s;
  transform: rotate(-20deg)
  ;}

.list-element__img img{
    transition: ease-in .5s;
    height: 2rem;
}
.list-element__img img:hover .logo__img{
    transition: ease-in .5s;
    height: 2rem;
}

.btn-back{
    background-color: grey;
}
.btn-back:hover{
    background-color: rgb(51, 51, 51);
}


footer{
    display: flex;
    justify-content: center;
    margin: 10% auto;
    text-align: center;
    font-size: 12px;
}

.d-none{
    display: none;
}

.d-flex{
    display: flex;
}
.d-block{
    display: block;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}